.titulo-sobre-nos{
    color: #EFB865;
    font-size: 100px;
    font-style: italic;
    text-align: center;
}

body{
    background-color: #00a048; /* Cor de fundo do conteudo da pg */
}
    
p{
    color: #EFB865;
    font-size: 25px;
    text-align: center;

}