.titulo-onde-encontrar{
    color: #EFB865;
    font-size: 85px;
    font-style: italic;
    text-align: center;
    margin-top: 230px;
}

body{
    background-color: #00a048; /* Cor de fundo do conteudo da pg */
}
    
p{
    color: #EFB865;
    font-size: 25px;
    text-align: center;

}

.mapa-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.mapa-container iframe{
    width: 35%;
    height: 70%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EFB865; /* Cor de fundo do cabeçalho */
    color: black; 
    padding: 10px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-align: center;
    background-color: #EFB865;
    padding: 15px;
  }

/* ABAIXO O MENU SUSPENSO */

.menu-button {
    position: relative;
}


.menu-trigger {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 3px 0;
    transition: 0.4s;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #EFB865; /* Cor de fundo do submenu */
    list-style: none;
    padding: 0;
    display: none;
}

.menu-dropdown.active {
    display: block;
}

.menu-dropdown li {
    margin: 0;
}

.menu-dropdown a {
    text-decoration: none;
    color: #000000; /* Cor do texto no menu suspenso */
    display: block;
    padding: 10px;
}

.menu-trigger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-trigger.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-trigger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
